In [1]:
%pip install --force-reinstall src/dist/pyDev-0.2.3-py3-none-any.whl

Defaulting to user installation because normal site-packages is not writeable
Processing c:\users\daniel\documents\github\pydevlib\src\dist\pydev-0.2.3-py3-none-any.whl
Installing collected packages: pyDev
  Attempting uninstall: pyDev
    Found existing installation: pyDev 0.2.3
    Uninstalling pyDev-0.2.3:
      Successfully uninstalled pyDev-0.2.3
Successfully installed pyDev-0.2.3
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [2]:
from pyDev import library as lib
api = lib.carbon_api('Scotland')

In [3]:
api.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288 entries, 15 to 5181
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Start               288 non-null    datetime64[ns, UTC]
 1   End                 288 non-null    datetime64[ns, UTC]
 2   ID                  288 non-null    int64
 3   Name                288 non-null    object
 4   Intensity           288 non-null    int64
 5   Intensity Category  288 non-null    object
 6   Biomass %           288 non-null    float64
 7   Hydro %             288 non-null    float64
 8   Solar %             288 non-null    float64
 9   Wind %              288 non-null    float64
 10  Coal %              288 non-null    int64
 11  Gas %               288 non-null    float64
 12  Nuclear %           288 non-null    float64
 13  Imports %           288 non-null    float64
 14  Other %             288 non-null    int64
dtypes: datetime64[ns, UTC](2), float64(7), int64(4), object(2)
memory usage: 36.0+ KB

In [5]:
api.describe()

,ID,Intensity,Biomass %,Hydro %,Solar %,Wind %,Coal %,Gas %,Nuclear %,Imports %,Other %
count,288.0,288.000000,288.000000,288.000000,288.000000,288.000000,288.0,288.000000,288.000000,288.000000,288.0
mean,16.0,152.315972,2.962847,7.978819,2.841319,27.378472,0.0,36.007639,20.801389,2.024306,0.0
std,0.0,42.805624,1.685367,4.264610,3.145617,12.885281,0.0,10.777827,4.347012,2.834783,0.0
min,16.0,61.000000,1.000000,2.600000,0.000000,8.200000,0.0,13.900000,13.600000,0.000000,0.0
25%,16.0,119.500000,1.700000,5.100000,0.000000,14.275000,0.0,27.500000,18.200000,0.000000,0.0
50%,16.0,154.500000,2.200000,6.800000,1.500000,28.200000,0.0,35.800000,20.350000,0.000000,0.0
75%,16.0,190.000000,3.700000,9.700000,5.600000,37.500000,0.0,46.150000,22.700000,4.150000,0.0
max,16.0,224.000000,7.500000,25.200000,10.400000,54.300000,0.0,55.800000,36.800000,9.500000,0.0